version: "3.8"

services:
  downloader:
    image: gautardos/downloader-app:latest
    container_name: downloader-container
    network_mode: host
    environment:
      - PORT=8000
    
    volumes:
      - /home/gautard/downloader-app/var/home:/var/www/html/var/home
      - /home/gautard/downloader-app/var/storage:/var/www/html/var/storage
      - /home/gautard/downloader/src:/var/www/html/src
      - /home/gautard/downloader/templates:/var/www/html/templates
      - /downloads:/downloads
      - /music:/music
      - /nas:/nas
    
    restart: unless-stopped

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"